@media screen and (min-width:850px) {
    #nav-links {
        display: flex;
    }

    #hamburger {
        display: none;
    }
}

/* 1024 */
@media screen and (min-width:1024px) {
    #banner .content {
        padding-top: 124px;
    }

    #banner .content h1 {
        font-size: 82px;
        line-height: 84px;
    }

    #banner .content .desc h2 {
        font-size: 22px;
        line-height: 30px;
    }

    #banner .content .desc p {
        font-size: 16px;
        line-height: 26px;
    }
}

/* 1440 */
@media screen and (min-width:1440px) {
    #banner .content .review .certificates {
        display: block;
    }
}