* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'The Seasons';
  src: url('/assets/fonts/theseasons-regular.otf') format('otf');
  font-weight: 200, 300, 400, 500, 600, 700, 800;
}

.main-container {
  width: 90%;
  max-width: 1289px;
  margin-left: auto;
  margin-right: auto;
}

/* navbar */
nav {
  padding: 18px 0;
}

nav .logo {
  width: 115px;
  height: 28px;
}

nav .links {
  list-style: none;
  gap: 40px;
}

nav .links a {
  text-decoration: none;
  color: #000A43;
  font-weight: 700;
}

nav .links li {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

nav .icons {
  display: flex;
  gap: 16px;
  align-items: center;
}

#hamburger {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

/* mobile nav */
#mobile-nav {
  width: 100%;
  height: 100dvh;
  position: fixed;
  inset: 0;
  left: -100%;
  transition: 350ms;
}

#mobile-nav .bg-wave {
  width: 100%;
  height: 100%;
}

#mobile-nav .content {
  position: absolute;
  inset: 0;
  padding: 5%;
  /* top: 22px; */
}

#mobile-nav .content .top-sec {
  display: flex;
  justify-content: space-between;
}

#mobile-nav .content .mobile-links {
  list-style: none;
  margin-top: 50px;
}

#mobile-nav .content .mobile-links li {
  margin-top: 28px;
  text-align: center;
}

#mobile-nav .content .mobile-links li a {
  text-decoration: none;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

#mobile-nav .top-sec .logo {
  width: 138px;
  height: 45px;
}

#mobile-nav .top-sec .close {
  cursor: pointer;
}

.nav-buttons {
  display: flex;
  gap: 10px;
  margin-top: 54px;
  justify-content: center;
}

.nav-buttons button {
  background-color: transparent;
  display: flex;
  gap: 4px;
  padding: 10px 20px;
  align-items: center;
  color: white;
  border-radius: 30px;
  border: 1px solid #FFF6F6;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.nav-buttons button.cart {
  background-color: white;
  color: #00316F;
}

/* info */
#mobile-nav .info {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  margin-top: 30px;
}

#mobile-nav .info .number {
  font-size: 17.683px;
  line-height: 22.736px;
}

#mobile-nav .info .email {
  color: #FFF;
  font-size: 17.683px;
  line-height: 22.736px;
  margin-top: 6px;
}

#mobile-nav .social-icons {
  list-style: none;
  display: flex;
  gap: 8.5px;
  justify-content: center;
  margin-top: 30px;
}

/* ======================== banner ======================== */
#banner {
  width: 100%;
  /* height: 798px; */
  background-image: url("/assets/images/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

#banner .content {
  width: 90%;
  padding-top: 38px;
  padding-bottom: 144px;
  max-width: 1289px;
  margin: 0 auto;
}

#banner .content h1 {
  max-width: 837px;
  color: #25292E;
  font-family: The Seasons;
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: 47px;
}

#banner .content .desc h2 {
  color: #7C819E;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin-top: 18px;
  margin-bottom: 10px;
}

#banner .content .desc p {
  color: #7C819E;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  max-width: 676.039px;
  margin-bottom: 34px;
}

#banner .content .shop-now {
  padding: 11.5px 51px 11.5px 52px;
  align-items: center;
  text-decoration: none;
  border-radius: 30px;
  background: #25292E;
  color: white;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

#banner .content .divider {
  margin-top: 51px;
  height: 0px;
  border: 1px #25292E solid;
}

#banner .content .review {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  align-items: center;
}

#banner .content .review p svg {
  height: 20px;
  transform: translateY(4px);
}

#banner .content .review p .reviewer {
  display: inline-flex;
  align-items: center;
  gap: 7.5px;
  transform: translateY(8px);
}

#banner .content .review p .reviewer img {
  width: 27.806px;
  height: 27.806px;
  border-radius: 100px;
}

#banner .content .review p .reviewer .rv-name {
  color: #000A43;
  font-family: Inter;
  font-size: 13.012px;
  font-style: normal;
  font-weight: 800;
  line-height: 13.012px;
}

#banner .content .review p {
  color: #25292E;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 608.523px;
}

#banner .content .review .certificates {
  height: 47px;
}

#banner .content .w-f {
  position: relative;
  display: inline-block;
}

#banner .content .w-f::after {
  content: '';
  width: 100%;
  height: 2px;
  /* background-image: ""; */
  display: block;
}