/* fonts */
.font-inter {
    font-family: 'Inter';
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.hidden {
    display: none;
}